@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap')

//------------------------------------------------------------//

$backgroundU: '../images/dest/background.jpg'

//-----------//

$errorFS: 0.7em
$headerFC: 1.1em
$footerFC: 0.85em

//-----------//

$textC: white
$errorC: red
$hoverTextC: #bebebe
$activeTextC: #6a6a6a
$borderC: #b8b8b8

$headerC: rgba(0, 0, 0, 0.75)
$contentC: rgba(0, 0, 0, 0.65)
$popupC: rgba(0, 0, 0, 0.8)
$footerC: rgba(0, 0, 0, 0.85)
$backgroundC: rgba(0, 0, 0, 0.6)

//------------------------------------------------------------//

*
  padding: 0
  margin: 0
  font-family: 'Manrope'

h1, h2, h3, h4, h5, h6
  margin-bottom: 0.2em
  text-align: center
  font-weight: normal

h1
  font-size: 3.5em
h2
  font-size: 2.25em
h3
  font-size: 1.75em

ul
  li
    list-style-type: none

a
  text-decoration: none
  color: $textC
  &:hover
    color: $hoverTextC
  &:active
    color: $activeTextC

button
  font-size: 1em
  color: $textC
  background: none
  border: none
  cursor: pointer
  &:hover
    color: $hoverTextC

//------------------------------------------------------------//

body
  display: flex
body
  min-height: 100vh
  background: $backgroundC url($backgroundU) center fixed no-repeat
  background:
    size: cover
    blend-mode: hue
  display: flex
  flex-direction: column
  height: 100%
  @media screen and (min-width: 1201px)
    font-size: 4vh
  @media screen and (max-width: 1200px)
    font-size: 3vh
  @media screen and (max-width: 960px)
    font-size: 3.6vw
  @media screen and (max-width: 720px)
    font-size: 3.5vw
  @media screen and (max-width: 480px)
    font-size: 3.6vw

header
  font-size: $headerFC
  background-color: $headerC
  border: 1px solid black
  padding: 1em 0
  display: flex
  flex-direction: row
  justify-content: flex-end
  flex-wrap: wrap
  align-items: center
  .logo
    max-height: 7em
  div
    padding: 0 2em
    border-left: 1px solid $borderC
    &:first-of-type
      padding-left: none
      border-left: none
      margin-right: auto

#personalAreaPopup
  color: $textC
  padding: 0.5em
  border: 1px solid $borderC

.userPersonalArea
  display: flex
  flex-direction: column
  li
    padding: 0.5em
    border-bottom: 1px solid $borderC
    &:first-child
      padding-top: 0
    &:last-child
      border: none
      padding-bottom: 0

.content
  text-align: justify
  color: $textC
  align-self: center
  padding: 2em 0.5em
  border-radius: 1em
  display: flex
  flex-direction: column
  margin: auto 1em

form
  display: flex
  flex-direction: column
  input
    margin: 0.3em 0.3em 0 0.3em
    padding: 0.2em
    border-radius: 0.3em
    @media screen and (min-width: 1201px)
      font-size: 1em
    @media screen and (max-width: 1200px)
      font-size: 4vw
    @media screen and (max-width: 960px)
      font-size: 5vw
    @media screen and (max-width: 720px)
      font-size: 6vw
  button
    margin: 0.6em 0.3em 0.3em 0.3em
    padding: 0.2em 0.5em 0.3em
    border: 1px solid $borderC
    border-radius: 0.5em
    @media screen and (min-width: 1201px)
      font-size: 1em
    @media screen and (max-width: 1200px)
      font-size: 4vw
    @media screen and (max-width: 960px)
      font-size: 5vw
    @media screen and (max-width: 720px)
      font-size: 6vw
  .error
    @media screen and (min-width: 1201px)
      font-size: $errorFS
    @media screen and (max-width: 1200px)
      font-size: $errorFS*1.1
    @media screen and (max-width: 960px)
      font-size: $errorFS*1.25
    @media screen and (max-width: 720px)
      font-size: $errorFS*1.5
    color: $errorC
    text-align: center


.products
  display: flex
  flex-direction: column
  button
    padding: 0.2em 0.4em 0.3em
  ul
    border-top: 1px solid $borderC
    text-align: left
    margin-left: 0.5em
  h1
    border-bottom: 1px solid $borderC

.unfoldingList
  display: none

#popupBackground
  position: fixed
  width: 100vw
  height: 100vh
  display: none

.popup
  z-index: 100
  position: absolute
  display: none
  background: $popupC url($backgroundU) center fixed no-repeat
  background:
    size: cover
    blend-mode: hue
  padding: 0.5em 1em 0.5em 0
  border: 1px solid $borderC
  border-radius: 0.3em
  ul
    border: none

.prompt
  padding: 0.5em 1em

footer
  background-color: $footerC
  color: $borderC
  font-size: $footerFC
  padding: 0.5em
  display: flex
  flex-direction: row
  flex: 0 0 auto
  div
    padding: 0.5em 1em
    border-right: 1px solid $borderC
    &:last-of-type
      border-right: none
